@font-face {
    font-family: ferrari;
    src: url("./assets/FerroRosso.ttf");
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

.homeContainer {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.navContainer {
    height: 3.5rem;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    position: sticky;
    top: 0;
}

.headerLeftDiv {
    display: flex;
    width: 50%;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    height: 100%;
    padding-left: .5rem;
}

.ferrariLink {
    color: black;
    text-decoration: none;
}

.ferrariLogo {
    height: 60%;

}

h2 {
    margin: 0;
    font-family: ferrari;
    font-weight: 100;
}

.linksDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 100%;
    padding-right: .5rem;
}

.cartButton {
    height: 60%;
    border: none;
    display: flex;
    background-color: inherit;
}

.cartLogo {
    height: 100%;
}

.cartCount {
    color: red;
}

.navLink {
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: .5rem;
}

.cartDiv {
    height: 100%;
    background-color: #1e1b1b;
    flex-direction: column;
    flex-grow: 1;
    color: white;
}

.cartHead {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.yourCart {
    color: white;
}

.cartCarsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cartCarContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1px solid black;
    padding: 1rem;
}

.cartCarTop {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cartCarImg {
    width: 10rem;
}

.cartCarTopRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cartCarAmountContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .6rem;
}

.cartCarAmountIncrement, .cartCarAmountDecrement {
    background-color: inherit;
    border: none;
    color: white;
}

.cartCarAmount {
    font-size: large;
    font-weight: bold;
}

.cartCarPrice {
    font-size: larger;
    font-weight: bold;
}

.cartCarDelete {
    background-color: inherit;
    color: white;
    border: 1px white solid;
}

.cartBottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.totalPrice {
    font-size: x-large;
    font-weight: bold;
}

.checkoutButton {
    background-color: inherit;
    color: black;
    width: 80%;
    height: 2rem;
    background-color: rgb(177, 240, 60);
}

video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.homeh1 {
    text-align: center;
    color: white;
}

.shopContainer {
    background-color: #1e1b1b;
    flex-grow: 1;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.carContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.carDescription {
    text-align: center;
    width: 90%;
}

.carImage {
    width: 80%;
}

.carName {
    font-size: x-large;
    margin: 0;
}

.line {
    height: 1px;
    width: 100%;
    background-color: gray;
    margin-top: 2rem;
}

.addToCartDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.addToCartButton {
    background-color: inherit;
    border: 1px solid white;
    color: white;
    padding: .5rem;
    border-radius: 5%;
}

.addToCartAmount {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.addToCartAmountButton {
    background-color: inherit;
    border: 1px solid white;
    color: white;
    border-radius: 5%;
}

.footerDiv {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 750px) {
    .linksDiv {
        justify-content: flex-end;
        gap: 50px;
    }

    .shopContainer {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .carContainer {
        width: 50%;
    }

    .carDescription {
        height: 100px;
    }

    .cartCarContainer {
        width: 50%;
    }

    .cartDiv {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .cartBottom {
        justify-content: center;
        gap: 20px;
        margin-bottom: 50px;
        width: 50%;
    }

    .checkoutButton {
        height: 50px;
        font-size: larger;
        font-weight: bold;
    }

    .ferrariLink {
        font-size: xx-large;
    }
}